span {
  cursor: pointer;
}

.fields-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  button{
    background-color: #5ec3ff;
    border: none;

    height: 4vh;
    width: 40%;
  }
}

