<div class="fields-container">
  <nz-input-group nzPrefixIcon="user">
    <input
      nz-input
      placeholder="Enter your e-mail address"
      [(ngModel)]="value"
    />
  </nz-input-group>

  <br />
  <br />

  <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock">
    <input
      [type]="passwordVisible ? 'text' : 'password'"
      nz-input
      placeholder="Enter your password"
      [(ngModel)]="password"
    />
  </nz-input-group>
  <ng-template #suffixTemplate>
    <span
      nz-icon
      [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
      (click)="passwordVisible = !passwordVisible"
    ></span>
  </ng-template>

  <br />
  <br />

  <label nz-checkbox [(ngModel)]="checked">Remember me!</label>

  <br />
  <br />

  <button nz-button nzType="primary" nzBlock>Let's Eat</button>
</div>
