<nz-card nzHoverable [nzCover]="coverTemplate" [nzExtra]="extraTemplate">
  <nz-card-meta [nzTitle]="recipeData.name"></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img alt="dish-image" [src]="recipeData.imageUrl" />
</ng-template>
<ng-template #extraTemplate>
  <a (click)="isClicked()">Details</a>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="{{ recipeData.name }}"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <p>Category: {{ getCategoryName(recipeData.dishesTypeId) }}</p>
    <p>Price:{{ recipeData.price }} $</p>
    <p>Ingredients:</p>
    <div *ngFor="let ingredient of recipeData.ingredientsIds">
      -> {{ getIngredientName(ingredient) }}
    </div>
    <br />
    <p>Portion size: {{ recipeData.portionSize }} gr</p>
  </ng-container>
</nz-modal>
