<div class="login-container">
  <div class="left-side-container">
    <div class="title-container">
      <p>Welcome</p>
      <p>Back! <span>(our food is that good?) </span></p>
    </div>
  </div>

  <div class="right-side-container">
    <div class="header-container">
      <p class="header">Login</p>
      <p class="under-header">Please provide the necessary information.</p>
    </div>

    <div class="input-container">
      <app-login-fields></app-login-fields>
    </div>

    <div class="footer-container">
      <p>New User? <a (click)="navigateToSignUp()">Sign Up</a></p>
    </div>
  </div>
</div>
